# This file is sourced in the other config files for apps.  It sets the ports
# used for each in a single place.  Mostly the web server (nginx) and the app
# itself needs this information.
PORTCHILL=11300
