@import "jackup";

@import "../index.css";

/* Add custom styles to aid in visual tests. */
html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  font-size: 1.6rem;
  padding: 0px;
}
.test-main-content {
  height: 150px;
}
.test-content {
  height: 80px;
}

/* Add some color to these layout styles. */
.Base {
  background-color: gray;
  color: darkgray;
}
.Base-header {
  background-color: honeydew;
  color: forestgreen;
}
.Base-main {
  background-color: lightblue;
  color: royalblue;
}
.Base-bottom {
  background-color: rgba(255,255,255,0.5);
  color: black
}
  .Base-footer {
    background-color: lightcoral;
    color: saddlebrown;
  }
.Base-content {
  border: 1px dashed lightslategray;
}
