/* postcss-bem-linter: define BottomFooter */

.BottomFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.BottomFooter-info {
  min-width: 113px;
}
.BottomFooter-copy {
  max-width: 51rem;
  margin-left: 10px;
  margin-right: 0px;
  padding-bottom: 4.0rem;
}
.BottomFooter-version {
  align-self: flex-end;
  padding-left: 0px;
}
