/* barkdown.css
 * Using mostly pseudo elements; attach common markdown syntax back to the HTML elements.
 */
.t-Barkdown h1::before,
.t-Barkdown h2::before,
.t-Barkdown h3::before,
.t-Barkdown h4::before,
.t-Barkdown h5::before,
.t-Barkdown h6::before,
.t-Barkdown strong::before,
.t-Barkdown strong::after,
.t-Barkdown b::before,
.t-Barkdown b::after,
.t-Barkdown em::before,
.t-Barkdown em::after,
.t-Barkdown a::before,
.t-Barkdown a::after,
.t-Barkdown code::before,
.t-Barkdown code::after,
.t-Barkdown li::before {
  opacity: 0.42;
  font-family: 'Source Code Pro', Terminus, monospace;
  font-style: normal;
  font-weight: normal;
}

.t-Barkdown h1::before {
  content: '# ';
}

.t-Barkdown h2::before {
  content: '## ';
}

.t-Barkdown h3::before {
  content: '### ';
}

.t-Barkdown h4::before {
  content: '#### ';
}

.t-Barkdown h5::before {
  content: '##### ';
}

.t-Barkdown h6::before {
  content: '###### ';
}

.t-Barkdown b::before,
.t-Barkdown strong::before {
  content: '**';
}

.t-Barkdown b::after,
.t-Barkdown strong::after {
  content: '**';
}

.t-Barkdown b,
.t-Barkdown strong {
}

.t-Barkdown em::before {
  content: '*';
}

.t-Barkdown em::after {
  content: '*';
}

/* implicit link name */

/*
TODO: define the link at the bottom?
Example: [Google]: http://google.com/
*/
.t-Barkdown a::before {
  content: '[';
}

.t-Barkdown a::after {
  content: '][]';
}

/* inline code */
.t-Barkdown code {
}

.t-Barkdown code::before {
  content: '`';
}

.t-Barkdown code::after {
  content: '`';
}

/* Override if the code is within a pre */
.t-Barkdown pre code::before,
.t-Barkdown pre code::after {
  content: '';
}

/* Replace the default list-style. */
.t-Barkdown ol,
.t-Barkdown ul {
  padding: 0;
}

.t-Barkdown li {
  list-style: none;
}

.t-Barkdown ul > li {
  margin-left: 1.2em;
}

.t-Barkdown ul > li::before {
  float: left;
  margin-left: -1.2em;
  content: '* ';
}

.t-Barkdown ol > li:first-child {
  counter-reset: barkdown-li-number 0;
}

.t-Barkdown ol > li {
  counter-increment: barkdown-li-number 1;
  margin-left: 1.5em;
}

.t-Barkdown ol > li::before {
  float: left;
  margin-left: -1.5em;
  content: counter(barkdown-li-number) '. ';
}
