{% extends "base/index.html" %}

{# TODO: the homepage.css could possibly be missing depending on webpack configuration and stuff that I'm still experimenting with. #}
{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='homepage.css') }}">
{% endblock %}

{% block header %}
<div 'Homepage'>
  {{ logo_large|safe }}
</div>
{% endblock %}

{% block main %}
{# screencasts list #}
{# toc #}

<article>
{{ preface|readfile|markdown }}
</article>

{#
<article>
{{ foreword|readfile|markdown }}
</article>
#}
{% endblock %}
