.wot-BottomFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.wot-BottomFooter-info {
  min-width: 113px;
}
.wot-BottomFooter-copy {
  min-width: 20rem;
  max-width: 51rem;
  margin-left: 10px;
  margin-right: 0px;
  padding-bottom: 4rem;
}
.wot-BottomFooter-end {
  align-self: flex-end;
}
.wot-BottomFooter-dinosaur {
}
.wot-BottomFooter-version {
  padding-left: 0px;
  text-align: right;
}
