.wot-ListItem {
  display: block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-left: 0.7em;
}

.wot-ListItem::before {
  content: "*";
}

.wot-ListItem-description {
  color: var(--designtoken-TextColor-onSurface--medium);
  margin-left: calc(0.7em + 2em);
}
