.Logo {
  text-align: center;
}
  .Logo-img {
    width: 80px;
    height: 80px;
  }
  .Logo-caption {
  }

/* Variant --large */
.Logo--large {
  padding-bottom: 4.0rem;
}

  .Logo--large .Logo-img {
    max-width: 21.3rem;
    max-height: 21.3rem;
    min-width: 11.3rem;
    min-height: 11.3rem;
    width: 100%;
    height: 100%;
  }
  .Logo--large .Logo-caption {
  }

@media (--sm-viewport) {
  .Logo--large .Logo-img {
    width: 50vmin;
    height: 50vmin;
  }
}
