body {
  background-color: white;
  color: black;
  font-size: 1.0rem;
  padding: 0;
}
body::before {
  display: none;
}
/* block */
article {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3rem;
}
article h1 {
}

/* inline-block */

/* table */

/* inline */
a {
  text-decoration: none;
  color: inherit;
}

strong,
b {
  /*text-shadow: 0.05em 0.05em 0 rgba(0,0,0,0.25);*/
}

/* typography */
/* headers */
h1,h2,h3,h4,h5,h6,
em {
}

/* Any use of this 'typewriter' font will all
 * have the same font-size. */
h1,h2,h3,h4,h5,h6,
nav,
header {
  font-size: 1.2rem;
}

li {
	margin: 0.2em 0;
}
