.wot-CodeSnippet {
  margin-bottom: 2em;
}

.wot-CodeSnippet-filepath {
  display: block;
  text-align: right;
}

/*
 * Set max height scrollable box for the content.
 */
.wot-CodeSnippet-pre {
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  max-height: 42vh;
}
@media print {
  .wot-CodeSnippet-pre {
    max-height: none;
  }
}

.wot-CodeSnippet-filepath + .wot-CodeSnippet-pre {
  margin-top: 0;
}

/* Need to have higher specificity here for setting the font and background. */
.wot-CodeSnippet-pre > code[class*="language-"],
pre.wot-CodeSnippet-pre[class*="language-"] {
  font-family: "Source Code Pro", Terminus, monospace;
  font-size: 1.6rem;
}

@media print {
  pre.wot-CodeSnippet-pre[class*="language-"] {
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid black;
  }
}
