{% extends "base.html" %}
{%  from './list_item.html' import listItem %}

{% block main %}

  {{ content.summary }}

  {% if document_list %}
    {% if document_list is mapping -%}
      {% set document_list = [document_list] %}
    {% endif %}

    <section>
      <h1>
        {{ content.title }}
      </h1>
      <nav>
        {% for document in document_list %}
          {{ listItem(document.slug, document.title, document.description) }}
        {% endfor %}
      </nav>
    </section>
  {% endif %}

{% endblock %}
