{% extends "base.html.jinja2" %}

{% block stylesheet %}
  {{ super() }}
  {% if content.document_stylesheet %}
  <link rel="stylesheet" media="all" href="{{ url_for('send_media_file', filename=content.document_stylesheet) }}">
  {% endif %}
{% endblock %}

{% block main %}
<article style="--rot: 0.8deg" class="t-Barkdown">
  {% if content.format == 'html' %}
    {{ content.document|readfile|safe|shortcodes }}
  {% elif content.format == 'md' %}
    {{ content.document|readfile|markdown|shortcodes }}
  {% endif %}
</article>
{% endblock %}
