{% extends "base/index.html" %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='documentlistpage.css') }}">
{% endblock %}

{% block main %}
<h1>
  {{ content.title }}
</h1>

{{ content.summary }}

{% if document_list %}
{% if document_list is mapping -%}
  {% set document_list = [document_list] %}
{% endif %}

<section class="wot-List">
<ul>
{% for document in document_list %}
  <li class="wot-Toc-li">
  <a class="wot-Toc-a" href="{{ url_for('.page_uri', uri=document.slug) }}">
    {{ document.title }}
    {#
    <p>{{ document.description }}</p>
    #}
  </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
