{% macro listItem(slug, title, description) -%}
  <a class="wot-ListItem"
     href="{{ url_for('.page_uri', uri=slug) }}">
    {{ title }}
    <p class="wot-ListItem-description">{{ description }}</p>
  </a>
{% endmacro %}
