{%- if pagetitle %}
  {%- set _pagetitle = pagetitle|trim -%}
{% elif content and content.pagetitle %}
  {%- set _pagetitle = content.pagetitle|trim -%}
{% endif -%}
{%- if pageimage %}
  {%- set _pageimage = pageimage|trim -%}
{% elif content and content.pageimage %}
  {%- set _pageimage = content.pageimage|trim -%}
{% endif -%}
{%- if description_txt_file %}
  {%- set _description = description_txt_file|readfile|trim -%}
{% elif content and content.description %}
  {%- set _description = content.description|trim -%}
{% endif -%}
{%- if canonical_url %}
  {%- set _canonical_url = canonical_url|trim -%}
{% elif content and content.canonical_url %}
  {%- set _canonical_url = content.canonical_url|trim -%}
{% else %}
  {# request.path will start with a '/' #}
  {%- set _canonical_url = '{scheme}://{hostname}{path}'.format(scheme=config.SITE_PROTOCOL, hostname=config.HOSTNAME, path=request.path) -%}
{% endif -%}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {%- block meta %}
    {% include 'meta.html.jinja2' %}
    {% endblock -%}

    <link type="text/plain" rel="author" href="/humans.txt">
    {% block stylesheet %}

    <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='app.css') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}">
    {% endblock %}

    {# https://github.com/audreyr/favicon-cheat-sheet #}
    {% if config.DEBUG %}
    <!-- Force setting favicon when in debug mode. -->
    <!-- The favicon link is not needed in production. -->
    <link rel="shortcut icon" href="//{{ request.host }}/favicon.ico?v={{ config.VERSION }}&debug-no-cache={{ chill_now }}" />
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico?v={{ config.VERSION }}&debug-no-cache={{ chill_now }}">
    {% endif %}

  </head>
  <body>

    {% block body %}
      {{ body_html_file|readfile|safe }}
    {% endblock %}

    {% block script %}
    <script src="{{ url_for('send_theme_file', filename='app.bundle.js') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}"></script>
    {% endblock %}
  </body>
</html>
