{%- if pagetitle %}
  {%- set _pagetitle = pagetitle|trim -%}
{% elif content and content.pagetitle %}
  {%- set _pagetitle = content.pagetitle|trim -%}
{% endif -%}
{%- if pageimage %}
  {%- set _pageimage = pageimage|trim -%}
{% elif content and content.pageimage %}
  {%- set _pageimage = content.pageimage|trim -%}
{% endif -%}
{%- if description_txt_file %}
  {%- set _description = description_txt_file|readfile|trim -%}
{% elif content and content.description %}
  {%- set _description = content.description|trim -%}
{% endif -%}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {%- block meta %}
    {% include 'meta.html.jinja2' %}
    {% endblock -%}

    <link type="text/plain" rel="author" href="/humans.txt">
    {% block stylesheet %}

    <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='app.css') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}">
    <link rel="stylesheet" media="print" href="{{ url_for('send_theme_file', filename='print.css') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}">
    {% endblock %}

		{{ 'favicon.html'|readfile|safe }}
  </head>
  <body>

    {% block body %}
      {{ body_html_file|readfile|safe }}
    {% endblock %}

    {% block script %}
    <script src="{{ url_for('send_theme_file', filename='app.bundle.js') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}"></script>
    <script src="{{ url_for('send_theme_file', filename='print.bundle.js') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}"></script>
    {% endblock %}
  </body>
</html>
