<div class="wot-CodeSnippet">
  <small class="wot-CodeSnippet-filepath">
    {{ filepath }}
  </small>
  <pre class="wot-CodeSnippet-pre line-numbers language-{{ language }}"><code><!--
  -->{{ ('snippets/' + filepath)|readfile|escape }}<!--
  --></code></pre>
</div>
