{%  from './list_item.html.jinja2' import listItem %}

{% if value -%}
  {% if value is mapping -%}
    {% set value = [value] %}
  {%- endif %}

  <section class="wot-Toc">
    <h2>Table of Contents</h2>
    <nav>
      {% for item in value %}
        {{ listItem(item.toc.toc_item.slug, item.toc.toc_item.title, item.toc.toc_item.description) }}
      {% endfor %}
    </nav>
  </section>
{%- endif %}
