/**
 * List Item for the Web of Tomorrow
 *
 * Prepends a star dot that is vertically centered with the
 * content. The star is meant to be slightly double the
 * font-size.
 */
.wot-ListItem {
  display: flex;
  align-items: center;
  padding: 1em;
}

.wot-ListItem::before {
  display: block;
  margin-right: 1em;
  background-image: url(./star-dot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.7em;
  height: 1.7em;
  content: '';
}
