/* barkdown.css
 * Using mostly pseudo elements; attach common markdown syntax back to the HTML elements.
 */

.t-Barkdown h1::before,
.t-Barkdown h2::before,
.t-Barkdown h3::before,
.t-Barkdown h4::before,
.t-Barkdown h5::before,
.t-Barkdown h6::before,
.t-Barkdown strong::before,
.t-Barkdown strong::after,
.t-Barkdown b::before,
.t-Barkdown b::after,
.t-Barkdown em::before,
.t-Barkdown em::after,
.t-Barkdown li::before {
  opacity: 0.42;
}
.t-Barkdown h1::before {
  content: '# ';
}
.t-Barkdown h2::before {
  content: '## ';
}
.t-Barkdown h3::before {
  content: '### ';
}
.t-Barkdown h4::before {
  content: '#### ';
}
.t-Barkdown h5::before {
  content: '##### ';
}
.t-Barkdown h6::before {
  content: '###### ';
}

.t-Barkdown b::before,
.t-Barkdown strong::before {
  content: '**';
}
.t-Barkdown b::after,
.t-Barkdown strong::after {
  content: '**';
}

.t-Barkdown em::before {
  content: '*';
}
.t-Barkdown em::after {
  content: '*';
}

/* Replace the default list-style. */
.t-Barkdown ul {
  padding: 0;
}
.t-Barkdown li {
  list-style: none;
  margin-left: 1.5em;
}
.t-Barkdown ul > li::before {
  content: '* ';
  float: left;
  margin-left: -1.5em;
}
