.t-resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .t-resume-me {
    flex-basis: 30%;
    order: 2;
  }
  .t-resume-objective {
    flex-basis: 50%;
    order: 1;
  }
  .t-resume-skills {
    flex-basis: 100%;
    order: 3;
  }
  .t-resume-experience {
    flex-basis: 100%;
    order: 4;
  }

@media (--sm-viewport) {
.t-resume {
}
  .t-resume-me {
    flex-basis: 100%;
    order: 1;
  }
  .t-resume-objective {
    flex-basis: 100%;
    order: 2;
  }
  .t-resume-skills {
  }
  .t-resume-experience {
  }
}
