/* Colourlovers Palette
    R&amp;B
    http://www.colourlovers.com/palette/3038332/RB
    by: meachoree
    None
*/
:root {
  /* Shadows On The Cliff */
  --color-shadowsonthecliff: #524656;
  /* Bloat Tonguer Bloat */
  --color-bloattonguerbloat: #cf4747;
  /* it's cutee */
  --color-itscutee: #ea7a58;
  /* E4DCCB */
  --color-edccb: #e4dccb;
  /* vintage blue */
  --color-vintageblue: #a6c4bc;
}
