@import "./colour.css";
/* color naming convention:
 * http://codepen.io/nicetransition/pen/QjwbRg
 */
:root {
  /* Color name aliases from colour.css */
  --color-darkpurple: var(--color-shadowsonthecliff);
  --color-red: var(--color-bloattonguerbloat);
  --color-orange: var(--color-itscutee);
  --color-beige: var(--color-edccb);
  /*--color-vintageblue: #a6c4bc;*/
  --color-paper: #f2f5fa;

  /* Darkest color in your palette */
  --color-dark: #202127;
  --color-dark-dark: #011300;
  --color-dark-primary: var(--color-darkpurple);
  --color-dark-secondary: #363535;

  /* Main color in your palette */
  /*
  --color-primary: var(--color-drk-blue);
  */

  /* Usually a contrast of primary color */
  /*
  --color-secondary: var(--color-brown);
  */

  /* Lightest color in your palette */
  --color-light: #ebe4dc;
  --color-light-light: #fef7ee;
  --color-light-secondary: #cfccc9;

  /* Accent color in the palette */
  /*
  --color-accent: var(--color-orange);
  --color-accent-light: #812b81;
  */
}

/* widths (update custom-media.css, too) */
:root {
  --sm-viewport-max: 599px;
  --md-viewport-min: 600px;
  --md-viewport-max: 959px;
  --lg-viewport-min: 960px;
}

/* spacing */
:root {
  /*
  --spacing-sm: 0.6em;
  --spacing-md: 1em;
  --spacing-lg: 3em;
  */
}
