@import "../../.design-tokens-css/default-theme/settings.custom-properties-selector.css";
/* TODO: add dark color scheme
@import "../../.design-tokens-css/dark-theme/settings.custom-properties-selector.css" (prefers-color-scheme: dark);
 */

/* widths (update custom-media.css, too) */
:root {
  --sm-viewport-max: 599px;
  --md-viewport-min: 600px;
  --md-viewport-max: 959px;
  --lg-viewport-min: 960px;
}

/* spacing */
:root {
  /*
  --spacing-sm: 0.6em;
  --spacing-md: 1em;
  --spacing-lg: 3em;
  */
}
