{% extends 'site.html' %}

{% block body %}
<div class="wot-Base">
  <header class="wot-Base-header">
    <div class="wot-Base-content">
      {% block header %}
      {% include 'top.html' %}
      {% endblock %}
    </div>
  </header>

  <main role="main" class="wot-Base-main">
  <div class="wot-Base-content">
    {% block main %}

    {% endblock %}
  </div>
  </main>

  <div class="wot-Base-bottom">
    <div class="wot-Base-content">

      {% block bottom %}
        {% include 'bottom_nav.html' %}
      {% endblock %}

    </div>

    <footer class="wot-Base-footer">
      <div class="wot-Base-content">

      {% block footer %}
        {% include 'bottom_footer.html' %}
      {% endblock %}

      </div>
    </footer>
  </div>
</div>
{% endblock %}
