@import "../settings/settings.css";

.wot-Base {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wot-Base-header {
}
.wot-Base-main {
}
.wot-Base-bottom {
    padding-top: 3.0rem;
}
  .wot-Base-footer {
    padding-top: 3.0rem;
    border-top-width: 0.3rem;
    border-top-style: solid;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    border-top-color: var(--color-red);
    background-color: var(--color-orange);
    color: white;
    text-shadow: 0 0 1px var(--color-red);
  }
.wot-Base-content {
  padding: 1.0rem;
  box-sizing: border-box;
  max-width: 120.0rem;
  margin-left: auto;
  margin-right: auto;
}
