.wot-Base {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wot-Base > * {
  position: relative;
  z-index: 2;
}
.wot-Base-header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.wot-Base-main {
}
.wot-Base-bottom {
  padding-top: 3rem;
}
.wot-Base-footer {
  padding-top: 3rem;
  border-top-width: 0.3rem;
  border-top-style: solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  border-top-color: var(--designtoken-BackgroundColor-dark--dark);
  background-color: var(--designtoken-BackgroundColor-dark--light);
  color: var(--designtoken-TextColor-onDark);
  text-shadow: 0 0 1px var(--designtoken-BackgroundColor-dark--dark);
}
.wot-Base-content {
  padding: 1rem;
  box-sizing: border-box;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.wot-Base-main .wot-Base-content {
  background-color: var(--designtoken-BackgroundColor-surface--light);
  color: var(--designtoken-TextColor-onsurface);
  border-radius: 1px;
}

.wot-Base-article {
}
