:root {
  --wot-Base-background-image: none;
}
.wot-Base {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: var(--wot-Base-background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.wot-Base::before {
  content: "";
  display: block;
  background-color: rgba(108, 109, 117, 0.84);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.wot-Base > * {
  position: relative;
  z-index: 2;
}
.wot-Base-header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.wot-Base-main {
}
.wot-Base-bottom {
  padding-top: 3rem;
}
.wot-Base-footer {
  padding-top: 3rem;
}
.wot-Base-content {
  padding: 1rem;
  box-sizing: border-box;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.wot-Base-main .wot-Base-content {
  background-color: var(--color-paper);
  border-radius: 1px;
  transform: rotate(-0.4deg);
}

.wot-Base-article {
}
